h1{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  font-size: 50px;
  text-decoration: underline;
}

body{
  background-color: black;
  color: white;
}

.nav{
  display: flex;
  justify-content: space-between;
  padding: 20px 40px;
  background-color: skyblue;
  color: black;
  align-items: center;
}

a{
  text-decoration: none;
  color: black;
  font-weight: bold;
}

.nav div{
  display: flex;
  gap: 40px;
}