body{
  background-color: black;
  color: white;
}

.card{
  background-color: pink;
  border-radius: 10px;
  padding: 20px;
  margin: 10px;
  color: black;
}

.navbar{
  background-color: skyblue;
  padding: 20px;
}